*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(7, 7, 63);
}

.content{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-shrink: inherit;
    padding: 10px;
}

#sender-1{
    border: 2px solid #f5eded;
    padding: 20px;
    height: auto;
}

#receiver-1{
    border: 2px solid #e7e3e3;
    padding: 20px;
    height: auto;
}

.content input{
    padding: 10px;
    outline: 0;
    border: #ccc 1px solid;
    color: #ccc;
}

@media screen and (max-width:768px) {
    .content{
     display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    flex-shrink: inherit;
    padding: 10px;
    row-gap: 2rem;
    }
}